<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/fornecedor.css">
    <script src="https://kit.fontawesome.com/8fdfd8f48b.js" crossorigin="anonymous"></script>
    <title>Proposta</title>
</head>
<body>
    <div class="topbar">
        <div class="top-links">
          <span>Olá! <a href="#">Entre</a> ou <a href="#">cadastre-se</a></span>
          <a class="textp" href="#">Cotações do dia</a>
          <a class="textp" href="#">Ajuda e contato</a>
        </div>
        <div class="shipping-lang">
          <a class="textp" href="#">Cotar</a>
          <a class="textp" href="#">Quero ser um fornecedor</a>
          <a class="textp" href="#">Minha conta</a>
          <a class="cursor textp"><i class="fa-solid fa-bell"></i></a>
          <a class="cursor textp"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    
      <div class="searchbar">
        <div class="logo">Cota<span>ki</span></div>
        <div class="search-input">
            <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Pesquise o que quiser" />
          <div>
          <select>
            <option>Todas as categorias</option>
          </select>
          <button class="search-btn">Pesquisar</button>
        </div>
          
        </div>
      </div>
      <!-- Fim do cabeçalho -->
       <!-- Inicio da pagina do fornecedor -->
    <div>
        <div>
            <i class="fa-solid fa-arrow-left"></i>
        </div>
    </div>
    <div>
        <div>
            <img src="" alt="capa">
        </div>
        <div>
            <div><img src="" alt="logo"></div>
            <div>
                <h1>Fornecedor1</h1>
                <p>dados da empresa</p>
                <p>dados da empresa</p>
                <p>dados da empresa</p>
                <p>dados da empresa</p>
                <p>dados da empresa</p>
                <p>dados da empresa</p>
                
            </div>
        </div>
        <div>
            <h1>Sobre a Empresa</h1>
            <p>descrição completa forcecida pela empresa</p>
        </div>
        <div>
            <h1>Documentos da empresa</h1>
            <p>aqui ficará todos os documentos que a empresa emviar para certificar sua qualidade</p>
        </div>
    </div>