<li><a href="/perfil/fornecedor" class="active"><i class="fa-sharp-duotone fa-solid fa-chart-line"></i>Dashboard</a></li>
<li><a href="/perfil/fornecedor/produto" class="active"><i class="fa-brands fa-product-hunt"></i>Produtos</a></li>
<li><a href="/perfil/fornecedor/historico" class="active"><i class="fa-solid fa-timeline"></i>Historicos</a></li>
<li><a href="/perfil/fornecedor/produto" class="active"><i class="fa-solid fa-file-invoice"></i>Relatorios</a></li>
<li><a href="/perfil/fornecedor/produto" class="active"><i class="fa-solid fa-comment-dots"></i>Comentarios</a></li>
<li><a href="/perfil/fornecedor/produto" class="active"><i class="fa-solid fa-sliders"></i>Configurações</a></li>
<li><a href="/logout" class="active"><i class="fa-solid fa-door-open"></i>Sair</a></li>